@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$layer1: 10;
$layer2: 20;
$layer3: 30;
$layer4: 40;

$breakpoint-xs: 420px;
$breakpoint-sm: 580px;
$breakpoint-md: 710px;
$breakpoint-lg: 960px;

$content-width: 900px;

$primaryColor: #fa2d37;
$secondaryColor: rgb(79, 54, 140);
$textDark: rgb(66, 61, 104);
$textLight: rgb(68, 74, 120);

$bgSecondary: rgb(222, 226, 246);
$bgTertiary: #2f3242;
$btnColor: rgb(57, 51, 80);

$headingFont: 'Playfair Display', serif;

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	transition: all 1s ease-in-out;
}

// button styles
button {
	border: none;
	outline: none;
	border-radius: 5em;
	font-size: 0.8rem;
	padding: 1em 1.8em;
	text-transform: capitalize;
	transition: all 0.2s ease-in;
	letter-spacing: 1px;
	cursor: pointer;
	height: min-content;
	font-weight: 500;
	background-color: $primaryColor;
	color: aliceblue;
	font-family: 'Poppins', sans-serif;
	// box-shadow: 0px 0px 3px rgb(195, 54, 54);
}

// ____________ typographies here __________________

a {
	text-decoration: none;
	color: $textLight;
	transition: all 1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0px;
	text-align: left;
}
p {
	color: $textLight;
	margin: 0;
}

.headings {
	font-size: 3.5rem;
	font-weight: 700;
	color: $textDark;
	line-height: 3.3rem;
	font-family: $headingFont;
}

.headings-2 {
	font-size: 2.2rem;
	font-weight: 700;
	color: $textDark;
	font-family: $headingFont;
}

.sub-heading {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 600;
	color: $textLight;
	margin-bottom: 15px;
}

.para-headings {
	font-weight: 500;
	font-size: 1.3rem;
}

.para-text {
	font-size: 1.2rem;
	font-weight: 400;
}

// ______ helpers _________
.t-c {
	text-align: center;
}

// _____________ conatiners here _____________

.page-container {
	width: 100%;
}

.navbar {
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $layer3;
	.nav-inner {
		max-width: 1200px;
		margin: 5px auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.sec-section {
			display: flex;
			.menu-items {
				display: flex;
				flex-direction: row;
				margin-right: 20px;
				a {
					margin: auto 15px;
					text-transform: uppercase;
					font-size: 0.9rem;
					font-weight: 600;
				}
			}
		}
	}
}

.main-container {
	width: 100%;
	max-width: $content-width;
	margin: auto;
}

.underline {
	width: 60%;
	height: 3px;
	margin: 40px auto;
	background-color: $primaryColor;
}

// ________________sections here ___________

//heading section
.heading-cont {
	margin-top: 80px;
	padding-top: 30px;
	width: 100%;
	height: 120vh;
	background-image: url('../assets/asset1.png');
	background-size: cover;
	background-position: center;
	h1 {
		font-size: 4rem;
		color: $primaryColor;
		text-align: center;
		font-weight: 900;
	}
	p {
		margin-top: 20px;
		text-align: center;
	}
	button {
		margin-top: 40px;
		font-size: 1rem;
	}
}

//about section
.about-section-cont {
	width: 100%;
	max-width: 1200px;
	margin: 70px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	img {
		width: 75%;
		margin: auto;
	}

	.about-in {
		width: 80%;
		margin: auto;

		h2 {
			text-align: left;
		}

		p {
			margin-top: 30px;
			text-align: left;
			color: $textLight;
		}
	}
}

// cards section
.cards-section {
	padding: 100px;
	h4 {
		text-align: center;
	}
	.cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		margin-top: 80px;

		.card {
			box-shadow: 0px 0px 10px $bgSecondary;
			border-radius: 15px;
			background-color: $bgSecondary;
			margin: 20px;
			padding: 25px;
			// p {
			// 	color: $primaryColor;
			// }
			img {
				width: 60px;
				padding-bottom: 20px;
			}
		}
	}
}

// points section
.points-section {
	padding: 100px;
	background-color: $bgSecondary;

	.points-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		img {
			width: 80%;
			margin: auto;
		}
		.points-in {
			width: 80%;
			margin: auto;
			text-align: left;

			.top-points {
				margin: 50px auto;
				.point-sec {
					display: flex;
					.circle-main {
						display: flex;
						p {
							margin-top: 10px;
							margin-right: 18px;
							width: 10px;
							height: 10px;
							border-radius: 50%;
							background-color: $secondaryColor;
						}
					}
					p {
						text-align: left;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}

// review container
.review-section {
	// display: grid;
	// grid-template-columns: 3fr 2fr;
	// justify-content: center;
	// align-items: center;
	.ill-img {
		width: 80%;
	}

	.review-container {
		// max-width: 1200px;
		width: max-content;
		display: block;
		margin: auto;
		padding: 50px;
		margin: 50px auto;
		position: relative;

		.circle-1 {
			position: absolute;
			top: 50px;
			left: 100px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: rgb(228, 220, 243);
			z-index: -1;
		}
		.circle-2 {
			position: absolute;
			top: 100px;
			right: 400px;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background-color: rgb(201, 191, 219);
			z-index: -1;
		}
		.review {
			background-color: $bgSecondary;

			box-shadow: 0px 0px 20px $bgSecondary;
			border-radius: 20px;
			margin-top: 80px;
			// border-radius: 2rem;
			padding: 50px 80px;

			img {
				display: block;
				width: 150px;
				height: 150px;
				border-radius: 50%;
				margin: auto;
				margin-bottom: 30px;
				color: $primaryColor;
				background-color: $primaryColor;
				// border: 6px $primaryColor solid;
				background-size: cover;
				background-position: center;
				background-origin: content-box;
			}

			h3 {
				font-size: 1.5rem;
				text-align: center;
				color: $textDark;
				text-transform: capitalize;
			}
			p {
				line-height: 25px;
				max-width: 900px;
				display: block;
				margin: auto;
				span {
					display: block;
					font-weight: 700;
					img {
						background-color: transparent !important;
						color: #fff;
						display: inline-block;
						margin-bottom: 10px;
						width: 30px;
						height: 30px;
					}
				}

				margin-top: 30px;
			}
		}

		.bottom-container {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			.arr-cont {
				padding: 20px;
				svg {
					font-size: 2rem;
					color: $textLight;
					cursor: pointer;
				}
			}
			.circles-cont {
				padding: 10px;
				display: flex;
				.circle {
					cursor: pointer;
					margin: 5px;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: $textLight;
				}
				.selected {
					background-color: $primaryColor !important;
				}
			}
		}
	}
}

// CTA
.CTA {
	text-align: center;
	margin: 100px auto;
	img {
		width: 80%;
	}
	h3 {
		margin-top: 100px;
		text-align: center;
	}
	p {
		margin-top: 20px;
	}
	button {
		margin-top: 50px;
		font-size: 1rem;
		font-weight: 500;
	}
}

// footer
.footer {
	padding: 10px 50px;
	background-color: $bgTertiary;

	.top-section {
		max-width: 1100px;

		display: flex;
		margin: auto;

		justify-content: space-between;
		align-items: center;

		img {
			width: 200px;
		}
		h5 {
			color: $primaryColor;
		}
		.socials {
			display: flex;
			svg {
				margin: auto 10px;
				color: $bgSecondary;
				font-size: 1.5rem;
			}
		}
	}

	.middle-section {
		text-align: center !important;
		h5 {
			color: $primaryColor;
		}
		p {
			color: $bgSecondary;
		}
	}

	.bottom-section {
		padding: 40px 0px 20px 0px;
		p {
			color: rgb(172, 168, 178);
		}
	}
}

// _____________ media queries here _____________

@media screen and (max-width: 600px) {
	.review-container {
		grid-template-columns: 1fr 5fr 1fr;
	}

	.about-section-cont {
		grid-template-columns: 1fr;
		.about-in {
			margin-top: 20px;
			h2 {
				text-align: center;
			}
			p {
				text-align: center;
			}
		}
	}
}
