@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

button {
  border: none;
  outline: none;
  border-radius: 5em;
  font-size: 0.8rem;
  padding: 1em 1.8em;
  text-transform: capitalize;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  letter-spacing: 1px;
  cursor: pointer;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #fa2d37;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #444a78;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  text-align: left;
}

p {
  color: #444a78;
  margin: 0;
}

.headings {
  font-size: 3.5rem;
  font-weight: 700;
  color: #423d68;
}

.headings-2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #423d68;
}

.sub-heading {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #444a78;
}

.para-text {
  font-size: 1.1rem;
  font-weight: 400;
}

.page-container {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.navbar .nav-inner {
  max-width: 1200px;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-inner .sec-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-inner .sec-section .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 20px;
}

.navbar .nav-inner .sec-section .menu-items a {
  margin: auto 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.main-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.underline {
  width: 60%;
  height: 3px;
  margin: 40px auto;
  background-color: #fa2d37;
}

.heading-cont {
  margin-top: 80px;
  padding-top: 30px;
  width: 100%;
  height: 120vh;
  background-image: url("../assets/asset1.png");
  background-size: cover;
  background-position: center;
}

.heading-cont h1 {
  font-size: 4rem;
  color: #fa2d37;
  text-align: center;
  font-weight: 900;
}

.heading-cont h3 {
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.heading-cont button {
  margin-top: 40px;
  font-size: 1rem;
}

.second-section {
  border-radius: 10px;
  border: 4px solid #fa2d37;
}

.second-section h2 {
  font-size: 2.5rem;
  padding: 0px 20px;
  font-family: "Playfair Display", serif;
}

.second-section p {
  font-size: 1.5rem;
}

.about-section-cont {
  width: 100%;
  max-width: 1200px;
  margin: 70px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section-cont img {
  width: 75%;
  margin: auto;
}

.about-section-cont .about-in {
  width: 80%;
  margin: auto;
}

.about-section-cont .about-in h2 {
  text-align: left;
}

.about-section-cont .about-in p {
  margin-top: 30px;
  text-align: left;
  color: #444a78;
}

.cards-section {
  padding: 100px;
}

.cards-section h4 {
  text-align: center;
}

.cards-section .cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 80px;
}

.cards-section .cards-container .card {
  border-radius: 15px;
  background-color: #dee2f6;
  margin: 20px;
  padding: 25px;
}

.cards-section .cards-container .card img {
  width: 60px;
  padding-bottom: 20px;
}

.points-section {
  padding: 100px;
  background-color: #dee2f6;
}

.points-section .points-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.points-section .points-container img {
  width: 80%;
  margin: auto;
}

.points-section .points-container .points-in {
  width: 80%;
  margin: auto;
}

.points-section .points-container .points-in .top-points {
  margin: 50px auto;
}

.points-section .points-container .points-in .top-points .point-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.points-section .points-container .points-in .top-points .point-sec .circle-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.points-section .points-container .points-in .top-points .point-sec .circle-main p {
  margin-top: 10px;
  margin-right: 18px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4f368c;
}

.points-section .points-container .points-in .top-points .point-sec p {
  text-align: left;
  margin-bottom: 20px;
}

.review-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .review-container {
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
  }
  .about-section-cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-section-cont .about-in {
    margin-top: 20px;
  }
  .about-section-cont .about-in h2 {
    text-align: center;
  }
  .about-section-cont .about-in p {
    text-align: center;
  }
}
/*# sourceMappingURL=global.css.map */