@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

button {
  border: none;
  outline: none;
  border-radius: 5em;
  font-size: 0.8rem;
  padding: 1em 1.8em;
  text-transform: capitalize;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  letter-spacing: 1px;
  cursor: pointer;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-weight: 500;
  background-color: #fa2d37;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #444a78;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  text-align: left;
}

p {
  color: #444a78;
  margin: 0;
}

.headings {
  font-size: 3.5rem;
  font-weight: 700;
  color: #423d68;
  line-height: 3.3rem;
  font-family: "Playfair Display", serif;
}

.headings-2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #423d68;
  font-family: "Playfair Display", serif;
}

.sub-heading {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #444a78;
  margin-bottom: 15px;
}

.para-headings {
  font-weight: 500;
  font-size: 1.3rem;
}

.para-text {
  font-size: 1.2rem;
  font-weight: 400;
}

.t-c {
  text-align: center;
}

.page-container {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.navbar .nav-inner {
  max-width: 1200px;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-inner .sec-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-inner .sec-section .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 20px;
}

.navbar .nav-inner .sec-section .menu-items a {
  margin: auto 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.main-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.underline {
  width: 60%;
  height: 3px;
  margin: 40px auto;
  background-color: #fa2d37;
}

.heading-cont {
  margin-top: 80px;
  padding-top: 30px;
  width: 100%;
  height: 120vh;
  background-image: url("../assets/asset1.png");
  background-size: cover;
  background-position: center;
}

.heading-cont h1 {
  font-size: 4rem;
  color: #fa2d37;
  text-align: center;
  font-weight: 900;
}

.heading-cont p {
  margin-top: 20px;
  text-align: center;
}

.heading-cont button {
  margin-top: 40px;
  font-size: 1rem;
}

.about-section-cont {
  width: 100%;
  max-width: 1200px;
  margin: 70px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section-cont img {
  width: 75%;
  margin: auto;
}

.about-section-cont .about-in {
  width: 80%;
  margin: auto;
}

.about-section-cont .about-in h2 {
  text-align: left;
}

.about-section-cont .about-in p {
  margin-top: 30px;
  text-align: left;
  color: #444a78;
}

.cards-section {
  padding: 100px;
}

.cards-section h4 {
  text-align: center;
}

.cards-section .cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 80px;
}

.cards-section .cards-container .card {
  -webkit-box-shadow: 0px 0px 10px #dee2f6;
          box-shadow: 0px 0px 10px #dee2f6;
  border-radius: 15px;
  background-color: #dee2f6;
  margin: 20px;
  padding: 25px;
}

.cards-section .cards-container .card img {
  width: 60px;
  padding-bottom: 20px;
}

.points-section {
  padding: 100px;
  background-color: #dee2f6;
}

.points-section .points-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.points-section .points-container img {
  width: 80%;
  margin: auto;
}

.points-section .points-container .points-in {
  width: 80%;
  margin: auto;
  text-align: left;
}

.points-section .points-container .points-in .top-points {
  margin: 50px auto;
}

.points-section .points-container .points-in .top-points .point-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.points-section .points-container .points-in .top-points .point-sec .circle-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.points-section .points-container .points-in .top-points .point-sec .circle-main p {
  margin-top: 10px;
  margin-right: 18px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4f368c;
}

.points-section .points-container .points-in .top-points .point-sec p {
  text-align: left;
  margin-bottom: 20px;
}

.review-section .ill-img {
  width: 80%;
}

.review-section .review-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  margin: auto;
  padding: 50px;
  margin: 50px auto;
  position: relative;
}

.review-section .review-container .circle-1 {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e4dcf3;
  z-index: -1;
}

.review-section .review-container .circle-2 {
  position: absolute;
  top: 100px;
  right: 400px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c9bfdb;
  z-index: -1;
}

.review-section .review-container .review {
  background-color: #dee2f6;
  -webkit-box-shadow: 0px 0px 20px #dee2f6;
          box-shadow: 0px 0px 20px #dee2f6;
  border-radius: 20px;
  margin-top: 80px;
  padding: 50px 80px;
}

.review-section .review-container .review img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 30px;
  color: #fa2d37;
  background-color: #fa2d37;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
}

.review-section .review-container .review h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #423d68;
  text-transform: capitalize;
}

.review-section .review-container .review p {
  line-height: 25px;
  max-width: 900px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.review-section .review-container .review p span {
  display: block;
  font-weight: 700;
}

.review-section .review-container .review p span img {
  background-color: transparent !important;
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

.review-section .review-container .bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.review-section .review-container .bottom-container .arr-cont {
  padding: 20px;
}

.review-section .review-container .bottom-container .arr-cont svg {
  font-size: 2rem;
  color: #444a78;
  cursor: pointer;
}

.review-section .review-container .bottom-container .circles-cont {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-section .review-container .bottom-container .circles-cont .circle {
  cursor: pointer;
  margin: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #444a78;
}

.review-section .review-container .bottom-container .circles-cont .selected {
  background-color: #fa2d37 !important;
}

.CTA {
  text-align: center;
  margin: 100px auto;
}

.CTA img {
  width: 80%;
}

.CTA h3 {
  margin-top: 100px;
  text-align: center;
}

.CTA p {
  margin-top: 20px;
}

.CTA button {
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 500;
}

.footer {
  padding: 10px 50px;
  background-color: #2f3242;
}

.footer .top-section {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .top-section img {
  width: 200px;
}

.footer .top-section h5 {
  color: #fa2d37;
}

.footer .top-section .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .top-section .socials svg {
  margin: auto 10px;
  color: #dee2f6;
  font-size: 1.5rem;
}

.footer .middle-section {
  text-align: center !important;
}

.footer .middle-section h5 {
  color: #fa2d37;
}

.footer .middle-section p {
  color: #dee2f6;
}

.footer .bottom-section {
  padding: 40px 0px 20px 0px;
}

.footer .bottom-section p {
  color: #aca8b2;
}

@media screen and (max-width: 600px) {
  .review-container {
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
  }
  .about-section-cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-section-cont .about-in {
    margin-top: 20px;
  }
  .about-section-cont .about-in h2 {
    text-align: center;
  }
  .about-section-cont .about-in p {
    text-align: center;
  }
}
/*# sourceMappingURL=global.css.map */